{% extends "bootstrap/base.html" %}

{% block html_attribs %}
  lang="en"
{% endblock html_attribs %}

{% block navbar %}
  {{ nav.mynavbar.render() }}
{% endblock %}

{% block content %}
  <div class="container-fluid">

  <div class="row justify-content-md-center">
    <div class="col-md-10">
      {{ messages or get_flashed_messages(with_categories=True) | flash_messages }}

      <h1>Modal <small>render_form</small></h1>
      
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{ form | render_form(button_map={'submit': 'dark btn-block'}) }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
