{% extends "bootstrap/base.html" %}

{% block html_attribs %}
  lang="en"
{% endblock html_attribs %}

{% block navbar %}
  {{ nav.mynavbar.render() }}
{% endblock %}

{% block content %}
  <div class="container-fluid">

  <div class="row justify-content-md-center">
    <div class="col-md-10">
      {{ messages or get_flashed_messages(with_categories=True) | flash_messages }}

      <h1>Standard <small>render_form</small></h1>
      {{ form | render_form(button_map={'submit': 'dark btn-block'}) }}
    </div>
  </div>
</div>

{% endblock %}
