{% from 'bootstrap/comps.buttons.html.j2' import btn_a %}

{% macro card(title=None, subtitle=None, text=None, link=None, url=None, links=[], design='light', width=None, footer=None) %}

{% set colors = {'primary': 'text-white bg-primary',
                 'secondary': 'text-white bg-secondary',
                 'success': 'text-white bg-success',
                 'danger': 'text-white bg-danger',
                 'warning': 'text-white bg-warning',
                 'info': 'text-white bg-info',
                 'light': 'bg-light',
                 'dark': 'text-white bg-dark'} %}

{% set sizes = {'25' : '25',
                '50' : '50',
                '75' : '75',
                '100' : '100',
                'auto' : 'auto'} %}

<div class="card {{ colors.get(design) }} w-{{- sizes.get(width, 'auto') }} mt-2">
    <div class="card-body">
        {% if title %}
        <h5 class="card-title text-center">{{ title }}</h5>
        {% endif %}

        {% if subtitle %}
        <h6 class="card-subtitle mb-2 text-muted">{{ subtitle }}</h6>
        {% endif %}

        {% if text %}
        <p class="card-text">{{ text }}</p>
        {% endif %}

        {% if link %}
            {{ btn_a(text=link,
                     url=url_for(url) or '#') }}
        {% endif %}
    </div>

    {% if links %}
    <ul class="list-group list-group-flush">
        {% for link, url in links %}
        <a href="{{ url_for(url) if url else '#'}}" class="card-link">
            <li class="list-group-item">
                {{ link }}
            </li>
        </a>
        {% endfor %}
    </ul>
    {% endif %}

    {% if footer %}
    <div class="card-footer text-muted">
        {{ footer }}
    </div>
    {% endif %}
</div>
{% endmacro %}
